* {
  box-sizing: border-box;
}

.app-container {
  min-width: 16rem;
  max-width: 25rem;     // FOR MOBILE VIEW 320x900
  margin-right: auto;
  margin-left: auto;

  .autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
  }
}


