%shadow {
  -webkit-box-shadow: 4px 3px 12px -4px rgba(0,0,0,0.35);
  -moz-box-shadow: 4px 3px 12px -4px rgba(0,0,0,0.35);
  box-shadow: 4px 3px 12px -4px rgba(0,0,0,0.35);
}

$global-font: 'Roboto', sans-serif;
$bg-gradient-color-1: #eae7ac;
$bg-gradient-color-2: #eae9b9;
